.footer {
  background-color: rgb(32, 28, 28);
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer a {
  color: rgb(251, 253, 106);
  text-decoration: none;
  letter-spacing: 1px;
}

button {
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #fbfd6a;
  color: rgb(32, 28, 28);
  border: none;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #d9dc03;
}
